@using System.Net
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>typings</title>
    <meta name="description"
        content="typings.gg is a sleek and modern typing test website. it support many custom themes" />
    <link rel="stylesheet" href="~/style.css" />
    @if (Context.Request.Cookies.TryGetValue("theme", out var theme))
    {
        <link id="theme" rel="stylesheet" href="~/themes/@(theme).css" />
    }
    else
    {
        <link id="theme" rel="stylesheet" href="~/themes/light.css" />
    }
</head>

<body>
    <header>
        <h1 class="title"><a asp-controller="Home" asp-action="Index">typings</a></h1>
        <nav>
            <a asp-controller="Account" asp-action="Login">Login</a>
            /
            <a asp-controller="Account" asp-action="Register">Register</a>
        </nav>
    </header>
    @RenderBody()
    <div id="theme-center" class="hidden">
        <div id="left-wing" onClick="showThemeCenter(false);">
            &lt; back</div>
        <div id="theme-area"></div>
    </div>
    <footer>
        <a href="https://github.com/briano1905/typings#typings" target="_blank" tabindex="3">user guide</a>/
        <div id="show-themes" class="button" onClick="showThemeCenter(true);" tabindex="4">themes</div>
    </footer>

    @if ((string) ViewData["Title"] == "typings")
    {
        <script src="~/dist/index.js"></script>
    }
    else
    {
        <script src="~/dist/common.js"></script>
    }
</body>

</html>
