@{
    Layout = "_Layout";
}

<main class="account">
    <nav>
        <a asp-action="Overview">Overview</a>
        /
        <a asp-action="ChangePassword">Change password</a>
    </nav>
    @RenderBody()
</main>