@{
    ViewData["Title"] = "Account";
    Layout = "_AccountLayout";
}

<h3>Change password</h3>
@model ChangePasswordViewModel
<form asp-action="ChangePassword" method="post">
    <label asp-for="CurrentPassword"></label>
    <input asp-for="CurrentPassword"/>
    <span asp-validation-for="CurrentPassword" class="error"></span>

    <label asp-for="NewPassword"></label>
    <input asp-for="NewPassword"/>
    <span asp-validation-for="NewPassword" class="error"></span>
    
    <label asp-for="RepeatPassword"></label>
    <input asp-for="RepeatPassword"/>
    <span asp-validation-for="RepeatPassword" class="error"></span>

    <input type="submit" value="Change"/>
</form>