@{
    ViewData["Title"] = "Account overview";
    Layout = "_AccountLayout";
}

<h3>Information</h3>
<strong>Username: </strong> @(Context.User.Identity!.Name)
<strong>Creation date: </strong> @((await _db.Users.FindAsync(Context.User.Identity!.Name)).CreationDate.ToString("dd-MM-yyyy"))

<h3>Delete account</h3>
@model DeleteAccountViewModel
<form asp-action="DeleteAccount" method="post">
    <label asp-for="Password"></label>
    <input asp-for="Password"/>
    <span asp-validation-for="Password" class="error"></span>

    <input type="submit" value="Delete"/>
</form>

