@{
    ViewData["Title"] = "Password reset email sent";
    Layout = "_Layout";
}

<main class="status">
    <h2>Password reset email sent</h2>
    @if (_env.IsProduction())
    {
        <p>An email has been sent to your inbox. Click the link in the email in order to reset your password.</p>
    }
    else
    {
        <a asp-controller="Account"
           asp-action="ResetPassword"
           asp-route-userid="@ViewData["UserId"]"
           asp-route-code="@ViewData["Code"]">Click here to reset your password.</a>
    }
</main>