@{
    ViewData["Title"] = "Reset Password";
    Layout = "_Layout";
}

<main class="status">
    <h2>Request Password Reset</h2>
    @model EmailViewModel
    <form asp-action="RequestPasswordReset" method="post">
        <label asp-for="Email"></label>
        <input asp-for="Email"/>
        <span asp-validation-for="Email" class="error"></span>
        
        <input type="submit" value="Send"/>
    </form>
</main>