@{
    ViewData["Title"] = "Reset Password";
    Layout = "_Layout";
}

<main class="status">
    <h2>Reset Password</h2>
    @model PasswordResetViewModel
    <form asp-action="ResetPassword" method="post">
        <input asp-for="UserId" type="hidden" />
        <input asp-for="Code" type="hidden" />
        
        <label asp-for="NewPassword"></label>
        <input asp-for="NewPassword"/>
        <span asp-validation-for="NewPassword" class="error"></span>

        <label asp-for="RepeatPassword"></label>
        <input asp-for="RepeatPassword"/>
        <span asp-validation-for="RepeatPassword" class="error"></span>

        <input type="submit" value="Change"/>
    </form>
</main>